.card {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__delete-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: url(../images/Delete\ Button.svg) center #0000004d;
  border-radius: 50%;
  border: 0px;
}

.card__delete-btn:hover {
  transition: opacity 0.3s ease-in-out;
  background-image: url(../images/Hover\ Delete\ Button.svg);
  cursor: pointer;
}

.card__title {
  font-size: 20px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  color: #212121;
  line-height: 120%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 386px;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  background-color: transparent;
  width: 23px;
  height: 20px;
  border: none;
  cursor: pointer;
  opacity: 40%;
  transition: opacity 0.3s ease-in-out;
  background-repeat: no-repeat;
}

.card__like-btn:hover {
  opacity: 100%;
}

.card__like-btn_active {
  background-image: url(../images/Red\ Heart.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    font-size: 16px;
    line-height: 100%;
    max-width: 265px;
  }
}
