.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  font-size: 32px;
  font-weight: 500;
  color: #212121;
  line-height: 100%;
  margin: 0 0 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0 0 32px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-weight: 500;
  color: #212121;
  line-height: 100%;
  opacity: 70%;
}

.profile__add-btn {
  background-color: #212121;
  margin-left: auto;
  margin-top: auto;
  border-radius: 8px;
  border: 0;
  color: #fcf5e5;
  width: 149px;
  height: 52px;
  padding: 0;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  line-height: 100%;
  font-weight: 500;
}

.profile__add-btn:hover {
  transition: 0.5s ease-in;
  opacity: 80%;
}

.profile__edit-btn {
  margin-top: auto;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: #212121;
  border: none;
  gap: 8px;
  display: flex;
  justify-content: left;
  padding: 0;
  height: 16px;
  opacity: 70%;
  cursor: pointer;
}

.profile__edit-btn:hover {
  transition: 0.3s ease-in-out;
  opacity: 100%;
}

.profile__plus-icon {
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .profile__avatar {
    height: 80px;
    width: 80px;
    margin-bottom: 12px;
    margin-right: 0;
  }

  .profile__column {
    text-align: center;
    margin-right: 0;
  }

  .profile__name {
    margin-bottom: 6px;
    font-size: 20px;
    max-width: 288px;
  }

  .profile__description {
    margin-bottom: 32px;
    max-width: 288px;
  }

  .profile__add-btn {
    margin-left: 0;
    max-width: 288px;
    width: 100%;
    margin-top: 12px;
  }

  .profile__edit-btn {
    align-items: center;
    justify-content: center;
  }
}
